.List {
    width: 500px;
    max-height: 1200px;
    overflow: auto; 
}

.Header {
    text-align: center;
}

.Header h1 {
    font-size: 4rem;
}

.Posts {
    margin: 20px;
    padding: 25px;
    height: 225px;
    width: 80%;
    background-color: #1F8AC0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    display: block;
    position: relative;
    color: #EFC9AF;
    overflow: auto;
}

.Posts:hover {
    cursor: pointer;
    opacity: 0.75;
}

.Posts p {
    font-weight: 200;
    font-size: 1.1rem;
}

.Title {
    text-align: center;
}

.Title h3 {
    font-size: 2.7rem;
    font-style: italic;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

.Author {
    display: inline-block;
    text-align: left;
}

.Dates {
    text-align: right;
    float: right;
}

.PostBtns {
    text-align: center;
}
