.Form {
    text-align: center;
    margin:  50px;
}

.Form h1 {
    text-decoration: underline;
}

.Form div {
    margin: 10px;
}

.Form label {
    font-size: 1.5rem;
}

.Form input {
    height: 40px;
    width: 300px;
    font-size: 1.25rem;
    margin: 5px;
}

.Form textarea {
    height: 400px;
    width: 700px;
    margin: 5px;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
}

.Horizontal {
    margin: 50px;
}