.Form {
    text-align: center;
    margin:  50px;
    color: #EFC9AF;
}

.Form h1 {
    font-size: 4rem;
}

.Form div {
    margin: 10px;
}

.Form label {
    font-size: 1.5rem;
}

.Form input {
    height: 50px;
    width: 350px;
    font-size: 1.25rem;
    margin: 5px;
    border: none;
    border-radius: 2px;
    background-color: #EFC9AF;
    color: #104C91;
}


.Form input:focus, 
.Form textarea:focus {
    outline: none !important;
    border: 2px solid #104C91;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}



.Form textarea {
    height: 400px;
    width: 1000px;
    margin: 5px;
    font-size: 1.25rem;
    font-family: 'Roboto Slab', serif;
    padding: 5px;
    border: none;
    background-color: #EFC9AF;
    color: #104C91;
}
