@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  color: #104C91;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

html {
  scroll-behavior: smooth; 
}


